@import "tailwindcss";

* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
